#contenedor{
    display: flex;
    justify-content: center;
    align-items: center ;
    background-image: url();
}
#formulario {
    margin-top: 50px;
    background-color: #0a497b;
    width: 700px;
    height: 800px;
    border-radius: 30px;
}
#titulo{
    text-align: center;
    font-size: 3rem;
    color: #FFCB76;
}
label {
    margin-top: 20px;
    margin-left: 10%;
    font-size: 20px;
    color: white;
}
input {
    border: 0ch;
    width: 60%;
    height: 30px;
    margin-left: 30%;
    background-color: #0a497b;
    border-bottom: 2px solid #FFCB76;
    border-radius: 50px;
    color: white;
    text-align: center  ;
}
#submit {
    background-color: #FFCB76;
    margin-top: 5px;
    margin-left: 40%;
    width: 150px;
    height: 50px;
}
#contenedor-producto {
    margin-top: 40px;
    display: flex;
}
#descripcion {
    margin-top:40px;
    margin-left: 20px;
}
#imagen-comprar {
    margin-top: 50px;
    margin-left: 10%;
    width: 150px;
}
#autor {
color: wheat;
font-size: 2rem;
    }
#precio {
    color: wheat;
    font-size: 2rem;    
}