.header {
    background-color: #0a497b;
    padding: 1px 0;
    position: sticky;
    top: 0;
    display: flex;
}
#logo-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#logo {
    color: #FFCB76;
    font-size:3rem;
    margin-left: 20px;
    letter-spacing: 10px;    
}
.navigation ul {
    margin-left : 500px;
    padding: 0;
    list-style: none;
}
.navigation ul li{
display: inline-block   ;
}
.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
transition: 0.6s;
}
.iconos {
    padding:10px;
    border-radius: 50px;
    background-color: #FFCB76;
    width: 30px;
    height: 30px;
    transition: ease-out 0.4s;
    box-shadow: inset 0 0 0 0 #0a497b;
    margin-top: 30px;
}
.iconos:hover {
box-shadow: inset -100px 0 0 0 #0a497b;
}
.main {
margin-top: 3rem;
    padding-bottom: 10rem;
}
.contenedor{
    width: 85%;
    max-width: 1500px;
    margin: 0 auto;
}
.title {
    font-size: 2rem;
    text-align: center;
}
.contenedor-slider {
    max-width: 500px;
    height: 400px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
input[type=radio] {
    display: none;
    margin-top: 450px;
}
.slider {
    width: 100%;
    max-width: 800px;
    height: 100%;
    -max-height: 600px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards {
    position: relative;
    width: 100%;
    height: 100%;
}
.card {
    position: absolute;
    width: 60%;
    height:100%;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}    
.imagen-slider {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
#item2:checked ~ .cards #selector-1,
#item1:checked ~ .cards #selector-3,
#item3:checked ~ .cards #selector-2{
    transform: translateX(-40%) scale(0.8);
    z-index: 0;
}
#item3:checked ~ .cards #selector-1,
#item1:checked ~ .cards #selector-2,
#item2:checked ~ .cards #selector-3{
    transform: translateX(40%) scale(0.8);
    z-index: 0;
}
#item1:checked ~ .cards #selector-1,
#item2:checked ~ .cards #selector-2,
#item3:checked ~ .cards #selector-3{
    transform: translateX(0) scale(1);
    z-index: 1;
}
.contenido {
    width: 1200px;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.libro {
    display: inline-block;
    margin-left: 50px;
}
.imagen-libro:hover {
    animation: imagenlibro 100s ease-out 2s 1;
    }
@keyframes imagenlibro {
    0%{
        transform: scale(1.2);
        border: 10px solid #FFCB76;
}
}
.ver-libro {
    background-color: #FFCB76;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: 0;
    margin-top: 10px;
    box-shadow: inset 0 0 0 0 #0a497b;
    transition: ease-out 0.4s;
}
.ver-libro:hover {
    box-shadow: inset 180px 0 0 #0a497b;
    color: white;
}
.footer {
    background-color: #FFCB76;
    height: 700px;
    display: flex;
}
#imagen-footer {
    width: 350px;
    height: 500px; 
    margin-top: 120px;
    margin-left: 80px;
    border-radius: 1    0px;
    animation: imagen-footer 4s alternate linear infinite;
}
@keyframes imagen-footer {
    0% {
    }
    transform: translateX(19px);
}
.navigation-footer ul {
    margin-left : 50px;
    margin-top: 120px;
    padding: 0;
    list-style: none;
}
.navigation-footer ul li{
    display: flex;
}
.navigation-footer ul li a {
    display: block;
    padding: 0.5rem 1rem;
transition: 0.6s;
}
.h3iconos-footer {
    display: inline-block;
    color: white;
}
.iconos-footer {
    width: 50px;
    background-color: white;
    border-radius: 50px;
    padding: 10px;
}
@media only screen and (max-width: 767px) {
    #main {
        margin-top: 8rem;
    }
    .header {
        display: block;
        background-color: #0a497b;
        padding: 5px 0;
        position: sticky;
        top: 0;
    }
    #logo-nav {
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    #logo {
        color: #FFCB76;
        font-size:2rem;
        margin-left: 20px;
        letter-spacing: 2px;
        margin-left: 110px;
    }
    .navigation ul {
        margin-left : 50px;
        padding: 0;
        list-style: none;
    }
    .navigation ul li{
    display: inline-block   ;
    }
    .navigation ul li a {
        display: block;
        padding: 0.5rem 1rem;
    transition: 0.6s;
    }
    .iconos {
        margin-top: 1px;
        width: 20px;
        height: 20px;
        padding: 10px;
    }
    .contenedor{
        width: 85%;
        max-width: 400px;
        margin: 0 auto;
    }
    .title {
        font-size: 2rem;
        text-align: center;
    }
    .contenedor-slider {
        max-width: 700px;
        height: 400px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;
    }
    input[type=radio] {
        display: none;
        margin-top: 450px;
    }
    .slider {
        width: 100%;
        max-width: 1200px;
        height: 100%;
        -max-height: 600px;
        transform-style: preserve-3d;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cards {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .card {
        position: absolute;
        width: 60%;
        height:100%;
        left: 0;
        right: 0;
        margin: auto;
        cursor: pointer;
        transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    }    
    .imagen-slider {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
    }
    #item2:checked ~ .cards #selector-1,
    #item1:checked ~ .cards #selector-3,
    #item3:checked ~ .cards #selector-2{
        transform: translateX(-40%) scale(0.8);
        z-index: 0;
    }
    #item3:checked ~ .cards #selector-1,
    #item1:checked ~ .cards #selector-2,
    #item2:checked ~ .cards #selector-3{
        transform: translateX(40%) scale(0.8);
        z-index: 0;
    }
    #item1:checked ~ .cards #selector-1,
    #item2:checked ~ .cards #selector-2,
    #item3:checked ~ .cards #selector-3{
        transform: translateX(0) scale(1);
        z-index: 1;
    }
    .contenido {
        width: 300px;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
    }
    .libro {
        display: inline-block;
        padding: 30px 5px;
    }
    .ver-libro {
        background-color: #FFCB76;
        width: 150px;
        height: 50px;
        border-radius: 20px;
        border: 0;
        margin-top: 10px;
        transition: ease-out 0.5s;
        box-shadow: inset 0 0 0 0 #0a497b;
    }
    .ver-libro:hover {
        box-shadow: inset 185px 0 0 #0a497b;
        color: #FFCB76;
    }
.footer {
    background-color: #FFCB76;
    height: 400px;
    display: flex;
}
#imagen-footer {
    width: 120px;
    height: 200px; 
    margin-top: 120px;
    margin-left: 15px;
    border-radius: 10px;
    animation: imagen-footer 4s alternate linear infinite;
}
@keyframes imagen-footer {
    0% {
    }
    transform: translateX(19px);
}
.navigation-footer ul {
    margin-left : 0px;
    margin-top: 120px;
    padding: 5px;
    list-style: none;
}
.navigation-footer ul li{
    display: flex;
}
.navigation-footer ul li a {
    display: block;
    padding: 0.5rem 1rem;
transition: 0.6s;
}
.h3iconos-footer {
    display: inline-block;
    color: white;
    font-size: 10px;
}
.iconos-footer {
    width: 20px;
    background-color: white;
    border-radius: 50px;
    padding: 10px;
}
}