.contenedor{
    display: flex;
    justify-content: center;
    align-items: center ;
    background-image: url();
}
#formulario{
    background-color: #0a497b;
    width: 700px;
    height: 500px;
    border-radius: 30px;
}
.titulo{
    text-align: center;
    font-size: 3rem;
    color: #FFCB76;
}
label {
    margin-left: 10%;
    font-size: 1rem;
    color: white;
}
input {
    border: 0ch;
    width: 60%;
    height: 30px;
    margin-left: 30%;
    background-color: #0a497b;
    border-bottom: 2px solid #FFCB76;
    border-radius: 50px;
    color: white;
    text-align: center  ;
}
#recuperarcontrasena {
    margin-top: 20px;
}
#olvidastetucontrasena{
    color: white;
    margin-left: 40%;
    margin-top: 15px;
}
#submit {
    background-color: #FFCB76;
    margin-top: 40px;
    margin-left: 40%;
    width: 150px;
    height: 40px;
}
#registrarse    {
    background-color: #FFCB76;
    margin-top: 20px;
    margin-left: 40%;
    width: 150px;
    height: 40px;
    border: 0;
    border-radius: 50px;
    color: white;
}