#parteslibro{
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    width: 300px;
}
#contenido {
    background-color: #0a497b;
    height: 660px;
    width: 400px;
    box-shadow: -30px 20px 30px black;
}
#navigation ul li{
    list-style: none;
    color: white;
}
#navigation ul li a {
    color: white;
    text-decoration: none;
}
button{
    background-color: #FFCB76;
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 30px;
    color: #0a497b;
    margin: 10px 40px;
    transition: ease-out 0.4s;
    box-shadow: inset 0 0 0 0 #0a497b;
}
button:hover {
    box-shadow: inset -100px 0 0 0 #0a497b;
    border-top: 3px solid #FFCB76;
    border-bottom: 3px solid #FFCB76;
    color: white;
    border-radius: 0px;
}